:root {
  --color-light-general: #17e8f0;
  --color-contrast-general: #f01717;
  --color-font-general: #000000;
  --color-background-general: #ffffff;
  --color-font-placeholder: #969696;
}

html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: Calibri, sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: var(--color-background-general);
}


h1 {
  margin: 0;
  color: var(--color-contrast-general);
  text-shadow: 3px 3px 1px var(--color-light-general);
  font-size: 60px;
}

.title {
  width: 100%;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center
}

img {
  margin-left: 10px;
  width: 7%;
  display: inline;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

h2,h3,h4,p,li {
  color: var(--color-font-general);
}

h2,h3,h4{
  padding: 5px;
  border: thick double var(--color-light-general);
}

body {
  width: 96%;
  margin: 10px auto;
  background-color: var(--color-background-general);
  padding: 0 10px 10px 10px;
  border: 5px solid var(--color-light-general);
}

form {
  background-color: var(--color-background-general);
  width: 400px;
  height: 44px;
  border: 2px solid var(--color-light-general);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

input {
  all: unset;
  font: 16px system-ui;
  color: var(--color-font-general);
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: var(--color-font-placeholder);
  opacity: 0.7; 
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: var(--color-contrast-general);
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}